{% load home_tags menu_tags i18n static wagtailcore_tags wagtailsettings_tags %}

<footer>
  <div class="footer-top">
    <div class="container-lg py-3">
      <div class="row justify-content-lg-between p-md-5">
        <div class="col-12 col-lg-7 order-2 order-lg-1">
          <div class="row">
            <div class="col-6 col-sm-4">
              <h5 class="footer__col-title my-3">{% translate "Get to know us" %}</h5>
              <ul class="footer-menu list-unstyled">
                {% flat_menu 'footer_menu_1' template="components/menus/menu_footer.html" %}
              </ul>
            </div>
            <div class="col-6 col-sm-4">
              <h5 class="footer__col-title my-3">{% translate "Legal" %}</h5>
              <ul class="footer-menu list-unstyled">
                {% flat_menu 'footer_menu_2' template="components/menus/menu_footer.html" %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-9 col-lg-5 order-1 order-lg-2">
          <div class="footer__articleletter-col">
            <h5 class="footer__col-title my-3">{% translate "Stay updated with our newsletter" %}</h5>
            <p class="footer__col-text">
              {% translate "Stay up to date with all the recent news, updates, and courses by simply your email address to our mailing list. We promise to never spam you." %}
            </p>
            <div class="newsletter-widget my-3">
              <a href="{% localized_slugurl 'newsletter' %}" class="input-group">
                <span class="newsletter-widget__title">{% translate 'Subscribe to our newsletter!' %}</span>
                <div class="input-group-append">
                  <span class="btn">{% translate "Sign up" %}</span>
                </div>
              </a>
            </div>
            {% with twitter_url=settings.home.SocialMediaSettings.twitter_url linkedin_url=settings.home.SocialMediaSettings.linkedin_url facebook_url=settings.home.SocialMediaSettings.facebook_url instagram_url=settings.home.SocialMediaSettings.instagram_url medium_url=settings.home.SocialMediaSettings.medium_url youtube_url=settings.home.SocialMediaSettings.youtube_url %}
              {% if twitter_url or linkedin_url or facebook_url or instagram_url or medium_url or youtube_url %}
                <div class="social-media__wrapper">
                  <span>{% translate "Connect with us:" %}</span>
                  <ul class="list-inline m-3">
                    {% if twitter_url %}
                      <li class="list-inline-item mx-2">
                        <a href="{{ twitter_url }}" class="text_primary"><i class="fab fa-twitter"></i></a>
                      </li>
                    {% endif %}
                    {% if linkedin_url %}
                      <li class="list-inline-item mx-2">
                        <a href="{{ linkedin_url }}" class="text_primary"><i class="fab fa-linkedin-in"></i></a>
                      </li>
                    {% endif %}
                    {% if facebook_url %}
                      <li class="list-inline-item mx-2">
                        <a href="{{ facebook_url }}" class="text_primary"><i class="fab fa-facebook-f"></i></a>
                      </li>
                    {% endif %}
                    {% if instagram_url %}
                      <li class="list-inline-item mx-2">
                        <a href="{{ instagram_url }}" class="text_primary"><i class="fab fa-instagram"></i></a>
                      </li>
                    {% endif %}
                    {% if medium_url %}
                      <li class="list-inline-item mx-2">
                        <a href="{{ medium_url }}" class="text_primary"><i class="fab fa-medium-m"></i></a>
                      </li>
                    {% endif %}
                    {% if youtube_url %}
                      <li class="list-inline-item mx-2">
                        <a href="{{ youtube_url }}" class="text_primary"><i class="fab fa-youtube"></i></a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              {% endif %}
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container-fluid">
      <div class="row align-items-end p-3">
        <div class="col">
          <p class="font-size-12">© Copyright {% now 'Y' %} {% translate "African Cities Lab. All rights reserved. " %}</p>
        </div>
        <div class="col d-flex justify-content-sm-end">
          <a href="">
            <img src="{% static 'images/assets/logo-white.webp' %}"
                 alt="African Cities Lab"
                 width="155"
                 height="38" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
