{% load i18n static wagtailcore_tags wagtailimages_tags %}

{% get_current_language as LANGUAGE_CODE %}
{% with heading=settings.home.GlobalSettings.partners_section_heading main_partner=settings.home.GlobalSettings.main_partner other_partners=settings.home.GlobalSettings.other_partners %}
  {% if heading %}
    <div class="container-fluid p-md-5">
      <div class="row justify-content-center">
        {% for block in heading %}
          {% if LANGUAGE_CODE == 'en' %}
            <h3 class="section-title text-center pt-5 pb-3">{{ block.value.section_title_en }}</h3>
            <div class="my-3 font-size-16 w-75 mb-4 text-align-left__max-576">{{ block.value.section_subtitle_en }}</div>
          {% elif LANGUAGE_CODE == 'fr' %}
            <h3 class="section-title text-center pt-5 pb-3">{{ block.value.section_title_fr }}</h3>
            <div class="my-3 font-size-16 w-75 mb-4 text-align-left__max-576">{{ block.value.section_subtitle_fr }}</div>
          {% else %}
            <h3 class="section-title text-center pt-5 pb-3">{{ block.value.section_title_en }}</h3>
            <div class="my-3 font-size-16 w-75 mb-4 text-align-left__max-576">{{ block.value.section_subtitle_en }}</div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="row {% if main_partner and other_partners %}justify-content-lg-between{% else %}justify-content-center{% endif %} align-items-lg-center">
        {% if other_partners %}
          {% for block in other_partners %}
            {% if block.block_type == "partners" %}
              <div class="col-12 col-lg-7 order-2 order-lg-1">
                <div class="swiper partners-swiper pt-lg-5">
                  <div class="swiper-wrapper">
                    {% for partner in block.value.partner %}
                      <div class="swiper-slide">
                        <a target="_blank" href="{{ partner.organisation_url }}" class="d-block">
                          {% image partner.logo original as logo %}
                          <img alt="{{ logo.alt }}" src="{{ logo.url }}" />
                        </a>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if main_partner %}
          {% for block in main_partner %}
            <div class="col-12 col-lg-5 main-sponsor align-self-lg-center position-relative order-1 order-lg-2">
              <div class="mx-auto text-center px-md-5">
                <a target="_blank"
                   href="{{ block.value.organisation_url }}"
                   class="d-block">
                  {% image block.value.logo original as logo %}
                  <img alt="{{ logo.alt }}" src="{{ logo.url }}" />
                </a>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endwith %}
