{% load i18n static wagtailimages_tags %}

{% for section in self.section %}
  {% image section.background_image original as img %}
  <section class="section-layout"
           {% if img.url %} style='background-image: linear-gradient(105deg, rgba(0,0,0,.5) 12%, rgba(0,0,0,0.10) 60%), url({{ img.url }})'{% endif %}
           {% if section.background_color %}style='background-color: {{ section.background_color }}'{% endif %}>
    {% if img.url %}
      <div class="acl-sharpes top-right__sharpe">
        <img class="d-none d-lg-block"
             alt="icon"
             width="400"
             height="205"
             src="{% static 'images/assets/outline-sharpe-top.svg' %}" />
      </div>
    {% endif %}
    <div class="container position-relative">
      <div class="row p-3 py-5 p-md-5 {% if section.content_alignement %}justify-content-{{ section.content_alignement }}{% endif %}">
        <div class="col-12 col-lg-8 pt-lg-3 pb-3">
          <h1 class="font-size-2-75em {% if section.content_alignement %}text-{{ section.content_alignement }}{% endif %}">
            {{ section.title }}
          </h1>
          <div class="font-size-16 py-3">{{ section.paragraph }}</div>
          {% if section.link %}
            <div class="mt-2">
              <a href="{{ section.link }}"
                 class="btn btn__primary btn-small font-size-14">{% translate "Learn more" %}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endfor %}
