{% extends "base.html" %}

{% load static i18n home_tags wagtailcore_tags wagtailimages_tags wagtailmetadata_tags wagtailsettings_tags %}

{% block meta_tag %}
  {% meta_tags %}
{% endblock meta_tag %}
{% block content %}
  {% image self.banner_image original as img %}
  <section class="page-banner"
           style="background-image: linear-gradient(rgba(84,84,84,0.25) 12%, rgba(0,0,0,.5) 100%), url({{ img.url }})">
    <div class="container-fluid">
      <div class="row py-5">
        <div class="col-12 col-lg-6 col-md-10">
          <div class="position-relative h1">
            {{ page.title }}
            <span class="dash-accent"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="acl-sharpes bottom-right__sharpe">
      <img alt="icon"
           class="d-none d-lg-block"
           width="400"
           height="205"
           src="{% static 'images/assets/outline-sharpe-bottom.svg' %}" />
    </div>
  </section>
  {% if self.contacts_informations_section %}
    <section>
      <div class="container-xl py-5 p-md-5">
        {% for block in self.contacts_informations_section %}
          {% if block.block_type == "contacts_informations" %}
            <div class="row justify-content-center">
              <div class="col-12 col-lg-10">
                <h3 class="section-title text-center">{{ block.value.session_title }}</h3>
                <div class="text-center font-size-16 mb-5">{{ block.value.paragraph }}</div>
                <div class="row justify-content-around">
                  <div class="col-12 col-md-6 icon-box m-3 m-md-0">
                    <div class="card w-100 box_shadow_level_1">
                      <div class="card-body">
                        <div class="icon-box__title">
                          <h5 class="pb-3">{{ block.value.contacts_card.title }}</h5>
                        </div>
                        <div class="icon-box__desc font-size-16">{{ block.value.contacts_card.content }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 icon-box m-3 m-md-0">
                    <div class="card w-100 box_shadow_level_1">
                      <div class="card-body">
                        <div class="icon-box__title">
                          <h5>{{ block.value.social_media_card.title }}</h5>
                        </div>
                        <div class="icon-box__desc font-size-16">
                          {{ block.value.social_media_card.content }}
                          {% with twitter_url=settings.home.GlobalSettings.twitter_url linkedin_url=settings.home.GlobalSettings.linkedin_url facebook_url=settings.home.GlobalSettings.facebook_url instagram_url=settings.home.GlobalSettings.instagram_url medium_url=settings.home.GlobalSettings.medium_url youtube_url=settings.home.GlobalSettings.youtube_url %}
                            {% if twitter_url or linkedin_url or facebook_url or instagram_url or medium_url or youtube_url %}
                              <div class="social-media__wrapper my-3">
                                <ul class="list-inline">
                                  {% if twitter_url %}
                                    <li class="list-inline-item mx-2">
                                      <a href="{{ twitter_url }}" class="text_primary"><i class="fab fa-twitter"></i></a>
                                    </li>
                                  {% endif %}
                                  {% if linkedin_url %}
                                    <li class="list-inline-item mx-2">
                                      <a href="{{ linkedin_url }}" class="text_primary"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                  {% endif %}
                                  {% if facebook_url %}
                                    <li class="list-inline-item mx-2">
                                      <a href="{{ facebook_url }}" class="text_primary"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                  {% endif %}
                                  {% if instagram_url %}
                                    <li class="list-inline-item mx-2">
                                      <a href="{{ instagram_url }}" class="text_primary"><i class="fab fa-instagram"></i></a>
                                    </li>
                                  {% endif %}
                                  {% if medium_url %}
                                    <li class="list-inline-item mx-2">
                                      <a href="{{ medium_url }}" class="text_primary"><i class="fab fa-medium-m"></i></a>
                                    </li>
                                  {% endif %}
                                  {% if youtube_url %}
                                    <li class="list-inline-item mx-2">
                                      <a href="{{ youtube_url }}" class="text_primary"><i class="fab fa-youtube"></i></a>
                                    </li>
                                  {% endif %}
                                </ul>
                              </div>
                            {% endif %}
                          {% endwith %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </section>
  {% endif %}
  {% with blocks=self.additional_informations_section %}
    <section>
      <div class="container-xl mb-5 p-md-5">
        {% for block in blocks %}
          {% if block.block_type == "section_title_layout" %}
            {% include_block block.value %}
          {% elif block.block_type == "paragraph_layout" %}
            {% include_block block.value %}
          {% elif block.block_type == "button" %}
            {% include_block block.value %}
          {% elif block.block_type == "content_box" %}
            {{ block }}
          {% elif block.block_type == "icon_box" %}
            {{ block }}
          {% elif block.block_type == "map" %}
            {% include_block block.value %}
          {% elif block.block_type == "blank_space" %}
            {% include_block block.value %}
          {% endif %}
        {% endfor %}
      </div>
    </section>
  {% endwith %}
  <!-- Start Partners Area-->
  <section class="our-partners">
    {% include "components/partners_section.html" %}
  </section>
  <!-- End Partners Area -->
{% endblock content %}
