{% extends "base.html" %}

{% load static i18n home_tags wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block meta_tag %}
  {% meta_tags %}
{% endblock meta_tag %}
{% block content %}
  {% image self.banner_image original as img %}
  <section class="page-banner"
           style="background-image: linear-gradient(rgba(84,84,84,0.25) 12%, rgba(0,0,0,.5) 100%), url({{ img.url }})">
    <div class="container-fluid">
      <div class="row py-5">
        <div class="col-12 col-lg-6 col-md-10">
          <div class="position-relative h1">
            {{ page.title }}
            <span class="dash-accent"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="acl-sharpes bottom-right__sharpe">
      <img alt="icon"
           class="d-none d-lg-block"
           width="400"
           height="205"
           src="{% static 'images/assets/outline-sharpe-bottom.svg' %}" />
    </div>
  </section>
  <section>
    <div class="container-xl py-5 p-md-5">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <h3 class="section-title text-center">{% translate "We’re here to help" %}</h3>
          <div class="text-center font-size-18 mb-5">
            {% translate "Please contact us in case of any query. We are happy to help" %}.
          </div>
          <div class="row justify-content-around">
            <div class="col-12 col-md-6 icon-box m-3 m-md-0">
              <div class="card w-100 box_shadow_level_1">
                <div class="card-body">
                  <div class="icon-box__title">
                    <h5 class="pb-3">{% translate "Email Us To Get Information" %}</h5>
                  </div>
                  <div class="icon-box__desc font-size-16">
                    <a class="d-block text_primary"
                       href="mailto:contact@africancitieslab.org">
                      <strong>contact@africancitieslab.org</strong>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 icon-box m-3 m-md-0">
              <div class="card w-100 box_shadow_level_1">
                <div class="card-body">
                  <div class="icon-box__title">
                    <h5>{% translate "Follow us on" %}</h5>
                  </div>
                  <div class="icon-box__desc social-media__wrapper">
                    <ul class="list-inline my-3">
                      <li class="list-inline-item mx-2">
                        <a href="https://twitter.com/AfricanCtiesLab" class="text_primary"><i class="fab fa-twitter"></i></a>
                      </li>
                      <li class="list-inline-item mx-2">
                        <a href="https://www.linkedin.com/company/african-cities-lab/?viewAsMember=true"
                           class="text_primary"><i class="fab fa-linkedin-in"></i></a>
                      </li>
                      <li class="list-inline-item mx-2">
                        <a href="https://www.facebook.com/African-Cities-Lab-103073095772023"
                           class="text_primary"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li class="list-inline-item mx-2">
                        <a href="https://instagram.com/africancitieslab?igshid=YmMyMTA2M2Y="
                           class="text_primary"><i class="fab fa-instagram"></i></a>
                      </li>
                      <li class="list-inline-item mx-2">
                        <a href="https://medium.com/@African_Cities_Lab" class="text_primary"><i class="fab fa-medium-m"></i></a>
                      </li>
                      <li class="list-inline-item mx-2">
                        <a href="https://www.youtube.com/channel/UC22_61it3OdPBNj3CwkndUA"
                           class="text_primary"><i class="fab fa-youtube"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Start Partners Area-->
  <section class="our-partners">
    {% include "components/partners_section.html" %}
  </section>
  <!-- End Partners Area -->
{% endblock content %}
