{% extends "base.html" %}

{% load static i18n home_tags wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block meta_tag %}
  {% meta_tags %}
{% endblock meta_tag %}
{% block content %}
  {% image self.banner_image original as img %}
  <section {% if not img.url %}class="bg_primary"{% else %}class="page-banner"{% endif %}
           {% if img.url %} style='background-image: linear-gradient(rgba(84,84,84,0.25) 12%, rgba(0,0,0,.5) 100%), url({{ img.url }})' {% endif %}>
    <div class="container-fluid">
      <div class="row py-5">
        <div class="col-12 col-lg-6 col-md-10">
          <div class="position-relative h1">
            {{ page.title }}
            {% if img.url %}
              <span class="dash-accent"></span>
            {% else %}
              <span class="dash-accent__"></span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="acl-sharpes {% if img.url %} right-sharpe{% else %} bottom-right__sharpe{% endif %}">
      <img alt="icon"
           class="d-none d-lg-block"
           {% if img.url %} width="195" height="380" src="{% static 'images/assets/outline-sharpe-right.svg' %}" {% else %} width="400" height="205" src="{% static 'images/assets/sharpe-bottom#d29675.svg' %}" {% endif %} />
    </div>
  </section>
  <!--Display 3 latest webinars-->
  {% if latest_webinars %}
    <section class="featured-events pt-5">
      <div class="container-lg py-md-5">
        <div class="row">
          <div class="col-12 col-md-8">
            <h3 class="section-title mb-3">{% translate "Webinars" %}</h3>
          </div>
          <div class="col-12 col-md-4 d-none d-md-block">
            <a class="float-end btn __btn-outline-more btn__xxsmall"
               role="button"
               href="{% localized_slugurl 'webinars' %}">
              <span class="font-size-16">{% translate "All webinars" %}</span>
            </a>
          </div>
        </div>
        <div class="row">
          {% for webinar in latest_webinars %}
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="featured-event__content">
                <div class="featured-img">
                  <a href="{{ webinar.url }}">
                    <div class="featured-img__inner">
                      {% image webinar.main_image original as img %}
                      <img width="416" height="250" alt="{{ img.alt }}" src="{{ img.url }}" />
                    </div>
                  </a>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-xs-12">
                    <div class="event-meta__card">
                      <div class="date-d">{{ webinar.date.day }}</div>
                      <div class="date-m">{{ webinar.get_month_published }}</div>
                      <div class="date-y">{{ webinar.date.year }}</div>
                    </div>
                  </div>
                  <div class="col-lg-9 col-xs-12 ">
                    <div class="featured-event-inner">
                      <a href="{{ webinar.url }}" class="h4">{{ webinar.title }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="my-5 text-center d-md-none">
          <a class="btn __btn-outline-more btn__xxsmall"
             role="button"
             href="{% localized_slugurl 'webinars' %}">
            <span class="font-size-16">{% translate "All webinars" %}</span>
          </a>
        </div>
      </div>
    </section>
  {% endif %}
  <!--Display 3 latest webinars-->
  <!--Display 3 latest formations-->
  {% if latest_formations %}
    <section class="featured-events pb-5">
      <div class="container-lg py-md-5">
        <div class="row">
          <div class="col-12 col-md-8">
            <h3 class="section-title mb-3">{% translate "Formations" %}</h3>
          </div>
          <!--div class="col-12 col-md-4 d-none d-md-block">
            <a class="float-end btn __btn-outline-more btn__xxsmall" role="button" href="{% localized_slugurl 'formations' %}">
              <span class="font-size-16">{% translate "All formations" %}</span>
            </a>
          </div -->
        </div>
        <div class="row">
          {% for formation in latest_formations %}
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="featured-event__content">
                <div class="featured-img">
                  <a href="{{ formation.url }}">
                    <div class="featured-img__inner">
                      {% image formation.main_image original as img %}
                      <img width="416" height="250" alt="{{ img.alt }}" src="{{ img.url }}" />
                    </div>
                  </a>
                </div>
                <div class="row">
                  <div class="d-inline-flex align-items-start">
                    <div class="formation-date__wrapper featured-formation__date">
                      <div class="start-date">
                        <div class="date-d">{{ formation.starting_date.day }}</div>
                        <div class="date-m mx-2">{{ formation.get_start_month_published }}</div>
                        <div class="date-y">{{ formation.starting_date.year }}</div>
                      </div>
                      <div class="text-center">
                        <img alt="icon"
                             width="14"
                             height="32"
                             src="{% static 'images/assets/chevron-icon.svg' %}" />
                      </div>
                      <div class="end-date">
                        <div class="date-d">{{ formation.ending_date.day }}</div>
                        <div class="date-m mx-2">{{ formation.get_end_month_published }}</div>
                        <div class="date-y">{{ formation.ending_date.year }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="featured-formation__title">
                    <a href="{{ formation.url }}" class="h4">{{ formation.title }}</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <!--div class="my-5 text-center d-md-none">
          <a class="btn __btn-outline-more btn__xxsmall" role="button" href="{% localized_slugurl 'formations' %}">
            <span class="font-size-16">{% translate "All formations" %}</span>
          </a>
        </div>
      </div -->
      </section>
    {% endif %}
    <!--Display 3 latest formations-->
  {% endblock content %}
