{% extends "base.html" %}

{% load static i18n home_tags wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block meta_tag %}
  {% meta_tags %}
{% endblock meta_tag %}
{% block content %}
  {% image self.banner_image original as img %}
  <section class="{% if img.url %}page-banner{% else %}page-banner bg_primary{% endif %}"
           {% if img.url %} style='background-image: linear-gradient(rgba(84,84,84,0.25) 12%, rgba(0,0,0,.5) 100%), url({{ img.url }})' {% endif %}>
    <div class="container-fluid">
      <div class="row py-5">
        <div class="col-12 col-lg-6 col-md-10">
          <div class="position-relative h1">
            {{ page.title }}
            {% if img.url %}
              <span class="dash-accent"></span>
            {% else %}
              <span class="dash-accent__"></span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="acl-sharpes {% if img.url %} right-sharpe{% else %} bottom-right__sharpe{% endif %}">
      <img alt="icon"
           class="d-none d-lg-block"
           {% if img.url %} width="195" height="380" src="{% static 'images/assets/outline-sharpe-right.svg' %}" {% else %} width="400" height="205" src="{% static 'images/assets/sharpe-bottom#d29675.svg' %}" {% endif %} />
    </div>
  </section>
  <section>
    <div class="container-fluid p-md-5">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-11 page-content">{{ page.body }}</div>
      </div>
    </div>
  </section>
  <!-- Start Partners Area-->
  <section class="our-partners">
    {% include "components/partners_section.html" %}
  </section>
  <!-- End Partners Area -->
{% endblock content %}
