{% extends "base.html" %}

{% load static i18n home_tags wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block meta_tag %}
  {% meta_tags %}
{% endblock meta_tag %}
{% block content %}
  {% image self.banner_image original as img %}
  <section class="{% if img.url %}page-banner{% else %}page-banner bg_primary{% endif %}"
           {% if img.url %} style='background-image: linear-gradient(rgba(84,84,84,0.25) 12%, rgba(0,0,0,.5) 100%), url({{ img.url }})' {% endif %}>
    <div class="container-fluid">
      <div class="row py-5">
        <div class="col-12 col-lg-6 col-md-10">
          <div class="position-relative h1">
            {{ page.title }}
            {% if img.url %}
              <span class="dash-accent"></span>
            {% else %}
              <span class="dash-accent__"></span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="acl-sharpes {% if img.url %} right-sharpe{% else %} bottom-right__sharpe{% endif %}">
      <img alt="icon"
           class="d-none d-lg-block"
           {% if img.url %} width="195" height="380" src="{% static 'images/assets/outline-sharpe-right.svg' %}" {% else %} width="400" height="205" src="{% static 'images/assets/sharpe-bottom#d29675.svg' %}" {% endif %} />
    </div>
  </section>
  {% with blocks = page.body %}
    <section>
      <div class="container-fluid p-md-5">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-11 page-content">
            {% for block in blocks %}
              {% if block.block_type == "section_title_layout" %}
                <div>{% include_block block.value.section_title_layout %}</div>
              {% elif block.block_type == "paragraph_layout" %}
                <div>{% include_block block.value.paragraph_layout %}</div>
              {% elif block.block_type == "section" %}
                <div>{% include_block block.value.section %}</div>
              {% elif block.block_type == "button" %}
                <div>{% include_block block.value.button %}</div>
              {% elif block.block_type == "infinite_scrolling_text" %}
                <div>{% include_block block.value.infinite_scrolling_text %}</div>
              {% elif block.block_type == "counter" %}
                <div>{% include_block block.value.counter %}</div>
              {% elif block.block_type == "content_box" %}
                <div>{% include_block block.value.content_box %}</div>
              {% elif block.block_type == "icon_box" %}
                <div>{% include_block block.value.icon_box %}</div>
              {% elif block.block_type == "timeline_item" %}
                <div>{% include_block block.value.timeline_item %}</div>
              {% elif block.block_type == "map" %}
                <div>{% include_block block.value.map %}</div>
              {% elif block.block_type == "blank_space" %}
                <div>{% include_block block.value.blank_space %}</div>
              {% elif block.block_type == "speaker_layout" %}
                <div>{% include_block block.value.speaker_layout %}</div>
              {% elif block.block_type == "agenda_layout" %}
                <div>{% include_block block.value.agenda_layout %}</div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  {% endwith %}
  <!-- Start Partners Area-->
  <section class="our-partners">
    {% include "components/partners_section.html" %}
  </section>
  <!-- End Partners Area -->
{% endblock content %}
