{% extends "base.html" %}

{% load static i18n home_tags wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block meta_tag %}
  {% meta_tags %}
{% endblock meta_tag %}
{% block content %}
  <!-- Slider-->
  <section class="homepage-slider">
    <div class="swiper home-swiper">
      <div class="swiper-wrapper">
        {% for loop_cycle in self.carousel_images.all %}
          {% image loop_cycle.carousel_image original as img %}
          <div class="swiper-slide">
            <div class="slide-image"
                 style="background-image: linear-gradient(90deg, rgba(0,0,0,.5) 12%, rgba(0,0,0,0.25) 100%), url({{ img.url }});
                        min-height: 575px">
              <div class="container-fluid">
                <div class="row py-5">
                  <div class="col-12 col-lg-7 col-md-10">
                    <div class="position-relative h1">
                      {{ loop_cycle.banner_title }}
                      <span class="dash-accent"></span>
                    </div>
                    <p class="my-4 font-size-16">{{ loop_cycle.banner_subtitle }}</p>
                    <div class="pt-3">
                      <a class="btn btn-small font-size-14 btn-outline__white"
                         href="{{ loop_cycle.banner_cta }}">{{ loop_cycle.banner_button_label }}</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="acl-sharpes bottom-right__sharpe">
                <img class="d-none d-lg-block"
                     alt="icon"
                     width="400"
                     height="205"
                     src="{% static 'images/assets/outline-sharpe-bottom.svg' %}" />
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
  <!-- End Slider-->
  {% if self.offers_section %}
    {% for block in self.offers_section %}
      {% if block.block_type == "our_offers" %}
        <section class="position-relative">
          <div class="container-lg py-5">
            <div class="row d-flex justify-content-center p-md-5">
              <div class="col-12 col-lg-8 text-center">
                <h3 class="section-title">{{ block.value.heading }}</h3>
                <div class="my-3 font-size-16 text-align-left__max-576">{{ block.value.sub_paragraph }}</div>
              </div>
            </div>
            {% if block.value.icon_box %}
              <div class="row pb-4 justify-content-center">
                {% for icon_box in block.value.icon_box %}
                  <div class="col-12 col-lg-3 col-md-5 icon-box">
                    <div class="card">
                      {% image icon_box.icon original as icon %}
                      <div class="card-header icon-container">
                        <img alt="{{ icon.alt }}" src="{{ icon.url }}" height="62" width="62">
                      </div>
                      <div class="card-body">
                        <div class="icon-box__title">
                          <h6>{{ icon_box.title }}</h6>
                        </div>
                        <div class="icon-box__desc text-align-left__max-576">{{ icon_box.content }}</div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </section>
      {% endif %}
    {% endfor %}
  {% endif %}
  <section class="featured-moocs position-relative bg_secondary py-5">
    <div class="container-lg pt-5 ">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-10 text-center">
          <h3 class="section-title text-white">{% translate "Our MOOCs" %}</h3>
          <div class="font-size-16 text-white my-3 text-align-left__max-576">
            {% translate "We cover all aspects of urban development, considering into account issues related to housing, employment, transportation, access to water, sanitation, electricity, and quality of life." %}
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid pb-5">
      <div class="row justify-content-xl-center pt-5">
        <div class="col-12 col-lg-4 col-md-6 moocs-card">
          <div class="card">
            <div class="card-header p-0 border-0">
              <div class="ribbon-wrapper">
                <div class="ribbon">NEW</div>
              </div>
              <a href="https://courses.africancitieslab.org/courses/course-v1:UM6P+001+2022/about"
                 class="d-block"
                 target="_blank">
                <img width="399"
                     height="200"
                     alt="Le solaire photovoltaïque et ses applications au profit du développement urbain"
                     src="{% static 'images/assets/moocs/solaire-photovoltaique-applications-developpement-urbain.jpg' %}" />
              </a>
            </div>
            <div class="card-body">
              <div class="moocsCard-university d-flex align-items-center">
                <img alt="UM6P - Université Mohammed VI Polytechnique" width="95" height="95" class="brand-icon" src="{% static "images/assets/partners/UM6P.svg" %}" />
                <div class="university__divider"></div>
                <div class="university__label">{% translate "UM6P - Université Mohammed VI Polytechnique" %}</div>
              </div>
              <h5 class="moocsCard-title">
                <a href="https://courses.africancitieslab.org/courses/course-v1:UM6P+001+2022/about"
                   class="d-block"
                   target="_blank">Le solaire photovoltaïque et ses applications au profit du développement urbain</a>
              </h5>
            </div>
            <div class="card-footer">{% translate "Start date:" %} 31 Jan. 2024</div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 moocs-card">
          <div class="card">
            <div class="card-header p-0 border-0">
              <a href="https://courses.africancitieslab.org/courses/course-v1:urbaplan-transitec+001+2022/about"
                 class="d-block"
                 target="_blank">
                <img width="399"
                     height="200"
                     alt="Articulation Urbanisme - Mobilité pour une ville soutenable"
                     src="{% static 'images/assets/moocs/urbanisation-soutenable-en-afrique.webp' %}" />
              </a>
            </div>
            <div class="card-body">
              <div class="moocsCard-university d-flex align-items-center">
                <img alt="Urbaplan" width="95" height="95" class="brand-icon" src="{% static "images/assets/partners/urbaplan-logo.svg" %}" />
                <div class="university__divider"></div>
                <div class="university__label">Urbaplan</div>
              </div>
              <div class="moocsCard-university d-flex align-items-center">
                <img alt="Transitec" width="95" height="95" class="brand-icon" src="{% static "images/assets/partners/transitec-logo.svg" %}" />
                <div class="university__divider"></div>
                <div class="university__label">Transitec</div>
              </div>
              <h5 class="moocsCard-title">
                <a href="https://courses.africancitieslab.org/courses/course-v1:urbaplan-transitec+001+2022/about"
                   class="d-block"
                   target="_blank">Articulation Urbanisme - Mobilité pour une ville soutenable</a>
              </h5>
            </div>
            <div class="card-footer">{% translate "Start date:" %} 13 Nov. 2023</div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 moocs-card">
          <div class="card">
            <div class="card-header p-0 border-0">
              <a href="https://courses.africancitieslab.org/courses/course-v1:WaterResearchCommission+001+2023/about"
                 class="d-block"
                 target="_blank">
                <img width="399"
                     height="200"
                     alt="Introduction to New Sanitation Systems, Economies & Markets"
                     src="{% static 'images/assets/moocs/introduction-to-new-sanitation-systems-economies-markets.webp' %}" />
              </a>
            </div>
            <div class="card-body">
              <div class="moocsCard-university d-flex align-items-center">
                <img alt="Water Research Commission" width="95" height="95" class="brand-icon" src="{% static "images/assets/partners/wrc-logo.jpeg" %}" />
                <div class="university__divider"></div>
                <div class="university__label">{% translate "Water Research Commission" %}</div>
              </div>
              <h5 class="moocsCard-title">
                <a href="https://courses.africancitieslab.org/courses/course-v1:WaterResearchCommission+001+2023/about"
                   class="d-block"
                   target="_blank">{% translate "Introduction to New Sanitation Systems, Economies & Markets" %}</a>
              </h5>
            </div>
            <div class="card-footer">{% translate "Start date:" %} 25 Oct. 2023</div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 moocs-card">
          <div class="card">
            <div class="card-header p-0 border-0">
              <a href="https://courses.africancitieslab.org/courses/course-v1:UM6P+002+2022/about"
                 class="d-block"
                 target="_blank">
                <img width="399"
                     height="200"
                     alt="African Urban Economic Development in the Context of Climate Change"
                     src="{% static 'images/assets/moocs/african-urban-economic-development-in-the-context-of-climate-change.webp' %}" />
              </a>
            </div>
            <div class="card-body">
              <div class="moocsCard-university d-flex align-items-center">
                <img alt="Université Mohammed VI Polytechnique" width="95" height="95" class="brand-icon" src="{% static "images/assets/partners/UM6P.svg" %}" />
                <div class="university__divider"></div>
                <div class="university__label">{% translate "UM6P - Université Mohammed VI Polytechnique" %}</div>
              </div>
              <h5 class="moocsCard-title">
                <a href="https://courses.africancitieslab.org/courses/course-v1:UM6P+002+2022/about"
                   class="d-block"
                   target="_blank">
                  {% translate "African Urban Economic Development in the Context of Climate Change" %}
                </a>
              </h5>
            </div>
            <div class="card-footer">{% translate "Start date:" %} 18 Oct. 2023</div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 moocs-card">
          <div class="card">
            <div class="card-header p-0 border-0">
              <a href="https://courses.africancitieslab.org/courses/course-v1:Gret+001+2022/about"
                 class="d-block"
                 target="_blank">
                <img width="399"
                     height="200"
                     alt="La fabrique urbaine collective : idées et outils pour co-produire les villes africaines"
                     src="{% static 'images/assets/moocs/fabrique-urbaine-collective.webp' %}" />
              </a>
            </div>
            <div class="card-body">
              <div class="moocsCard-university d-flex align-items-center">
                <img alt="GRET" class="brand-icon" width="95" height="95" src="{% static "images/assets/partners/gret.png" %}" />
                <div class="university__divider"></div>
                <div class="university__label">GRET</div>
              </div>
              <h5 class="moocsCard-title">
                <a href="https://courses.africancitieslab.org/courses/course-v1:Gret+001+2022/about"
                   class="d-block"
                   target="_blank">
                  La fabrique urbaine collective : idées et outils pour co-produire les villes africaines
                </a>
              </h5>
            </div>
            <div class="card-footer">{% translate "Start date:" %} 25 Sep. 2023</div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 moocs-card">
          <div class="card">
            <div class="card-header p-0 border-0">
              <a href="https://courses.africancitieslab.org/courses/course-v1:CAHF+001+2022/about"
                 class="d-block"
                 target="_blank">
                <img width="399"
                     height="200"
                     alt="Making housing markets work in African cities: understanding the role and opportunity of finance"
                     src="{% static 'images/assets/moocs/making-housing-markets-work-in-african-cities.webp' %}" />
              </a>
            </div>
            <div class="card-body">
              <div class="moocsCard-university d-flex align-items-center">
                <img alt="Centre for Affordable Housing Finance in Africa" width="95" height="95" class="brand-icon" src="{% static "images/assets/partners/cahf.png" %}" />
                <div class="university__divider"></div>
                <div class="university__label">{% translate "Centre for Affordable Housing Finance in Africa" %}</div>
              </div>
              <h5 class="moocsCard-title">
                <a href="https://courses.africancitieslab.org/courses/course-v1:CAHF+001+2022/about"
                   class="d-block"
                   target="_blank">
                  {% translate "Making housing markets work in African cities: understanding the role and opportunity of finance" %}
                </a>
              </h5>
            </div>
            <div class="card-footer">{% translate "Start date:" %} 15 Aug. 2023</div>
          </div>
        </div>
        <div class="mt-5 text-center">
          <a href="{% localized_slugurl 'moocs' %}"
             class="btn btn__primary btn__big">{% translate "More MOOCs" %}</a>
        </div>
      </div>
    </div>
  </section>
  <!--Display 3 latest webinars-->
  {% if latest_webinars %}
    <section class="featured-events pt-5">
      <div class="container-lg py-md-5">
        <div class="row">
          <div class="col-12 col-md-8">
            <h3 class="section-title mb-3">{% translate "Webinars" %}</h3>
          </div>
          <div class="col-12 col-md-4 d-none d-md-block">
            <a class="float-end btn __btn-outline-more btn__xxsmall"
               role="button"
               href="{% localized_slugurl 'webinars' %}">
              <span class="font-size-16">{% translate "All webinars" %}</span>
            </a>
          </div>
        </div>
        <div class="row">
          {% for webinar in latest_webinars %}
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="featured-event__content">
                <div class="featured-img">
                  <a href="{{ webinar.url }}">
                    <div class="featured-img__inner">
                      {% image webinar.main_image original as img %}
                      <img width="416" height="250" alt="{{ img.alt }}" src="{{ img.url }}" />
                    </div>
                  </a>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-xs-12">
                    <div class="event-meta__card">
                      <div class="date-d">{{ webinar.date.day }}</div>
                      <div class="date-m">{{ webinar.get_month_published }}</div>
                      <div class="date-y">{{ webinar.date.year }}</div>
                    </div>
                  </div>
                  <div class="col-lg-9 col-xs-12 ">
                    <div class="featured-event-inner">
                      <a href="{{ webinar.url }}" class="h4">{{ webinar.title }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="my-5 text-center d-md-none">
          <a class="btn __btn-outline-more btn__xxsmall"
             role="button"
             href="{% localized_slugurl 'webinars' %}">
            <span class="font-size-16">{% translate "All webinars" %}</span>
          </a>
        </div>
      </div>
    </section>
  {% endif %}
  <!--Display 3 latest webinars-->
  <!-- Start News Section -->
  {% if latest_articles %}
    <section class="latest-article pt-5">
      <div class="container-xl py-5">
        <div class="row">
          <div class="col-12 col-md-8">
            <h3 class="section-title">{% translate "Latest Articles" %}</h3>
          </div>
        </div>
        <div class="row latest-article__list mt-3">
          {% for article in latest_articles %}
            <div class="col-12 col-lg-4 col-md-6 article-card">
              <div class="card border-0">
                <div class="card-header article-preview-img p-0">
                  <a href="{{ article.url }}" class="d-block">{% image article.main_image original %}</a>
                </div>
                <div class="card-body">
                  <div class="article-meta d-flex align-items-center">
                    <div class="article__date">{{ article.date }}</div>
                    <div class="fas fa-circle text_primary mx-2" style="font-size: 5px;"></div>
                    <div class="article__category">
                      {% with categories=article.categories.all %}
                        {% if categories %}
                          <ul class="list-inline mb-0">
                            {% for category in categories %}
                              <li class="post-info__item list-inline-item mr-2">
                                <span class="text_primary font-weight-bold">{{ category.name }}</span>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      {% endwith %}
                    </div>
                  </div>
                  <h5 class="article-title py-3">
                    <a href="{{ article.url }}" class="d-block text-black">{{ article.title }}</a>
                  </h5>
                  <div class="article-exerpt">{{ article.summary }}</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}
  <!-- End News Section -->
  <!-- Start Topics Area-->
  {% if self.focus_areas_section %}
    {% for block in self.focus_areas_section %}
      {% if block.block_type == "focus_areas" %}
        <section class="explore-topic position-relative bg-light__ py-5">
          <div class="container-lg p-md-5">
            <div class="row d-flex justify-content-center">
              <div class="col-12 col-lg-8 text-center">
                <h3 class="section-title mb-3">{{ block.value.heading }}</h3>
                <div class="font-size-16 my-3 text-align-left__max-576">{{ block.value.sub_paragraph }}</div>
              </div>
            </div>
            {% if block.value.items %}
              <div class="row justify-content-center py-3">

                  <div class="col-12 col-lg-10">
                    <div class="row justify-content-center">
                      {% for item in block.value.items %}
                        <div class="topic-wrapper col-lg-3 col-md-4 col-sm-4 col-6 p-3">
                          {% if item.link %}
                            <p class="card card-link topic-item">
                              <a href="{{ item.link }}">{{ item.title }}</a>
                            </p>
                            {% else %}
                            <p class="card topic-item">
                              <span>{{ item.title }}</span>
                            </p>
                            {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                  </div>

              </div>
            {% endif %}
          </div>
        </section>
      {% endif %}
    {% endfor %}
  {% endif %}
  <!-- End Topics Section -->
  <!-- Partners Wrapper-->
  <section class="our-partners">
    {% include "components/partners_section.html" %}
  </section>
  <!--Partners Wrapper -->
{% endblock content %}
