{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block content %}

    <section class="page-banner bg_secondary">
        <div class="container-fluid">
            <div class="row justify-content-center py-5">
                <div class="col-12 col-md-6">
                    <h1 class="position-relative text-center font-size-3-50em">
                        {% translate "Explore our MOOCs" %}
                    </h1>
                    <p class="font-size-16 text-center">
                        {% translate "Drive the change and contribute to the transformation of tomorrow’s African cities" %}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container-fluid py-3">
            <div class="row justify-content-xl-center">

                <div class="col-12 col-lg-4 col-md-6 moocs-card">
                    <div class="card">
                        <div class="card-header p-0 border-0">
                            <div class="ribbon-wrapper">
                                <div class="ribbon">NEW</div>
                            </div>
                            <a href="https://courses.africancitieslab.org/courses/course-v1:UM6P+001+2022/about" 
                                class="d-block" 
                                target="_blank">
                                <img width="399" 
                                     height="200" 
                                     alt="Le solaire photovoltaïque et ses applications au profit du développement urbain" 
                                     src="{% static 'images/assets/moocs/solaire-photovoltaique-applications-developpement-urbain.jpg' %}"/>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="moocsCard-university d-flex align-items-center">
                                <img alt="UM6P - Université Mohammed VI Polytechnique" 
                                    width="95" 
                                    height="95" 
                                    class="brand-icon" 
                                    src="{% static "images/assets/partners/UM6P.svg" %}">
                                <div class="university__divider"></div>
                                <div class="university__label">{% translate "UM6P - Université Mohammed VI Polytechnique" %}</div>
                            </div>
                            <h5 class="moocsCard-title">
                                <a href="https://courses.africancitieslab.org/courses/course-v1:UM6P+001+2022/about" class="d-block" target="_blank">
                                    Le solaire photovoltaïque et ses applications au profit du développement urbain
                                </a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            {% translate "Start date:" %} 31 Jan. 2024
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 col-md-6 moocs-card">
                    <div class="card">
                        <div class="card-header p-0 border-0"> 
                            <a href="https://courses.africancitieslab.org/courses/course-v1:urbaplan-transitec+001+2022/about" class="d-block" target="_blank">
                                <img width="399" height="200" alt="Articulation Urbanisme - Mobilité pour une ville soutenable" src="{% static 'images/assets/moocs/urbanisation-soutenable-en-afrique.webp' %}"/>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="moocsCard-university d-flex align-items-center">
                                <img alt="Urbaplan" width="95" height="95" class="brand-icon" src="{% static "images/assets/partners/urbaplan-logo.svg" %}">
                                <div class="university__divider"></div>
                                <div class="university__label">Urbaplan</div>
                            </div>
                            <div class="moocsCard-university d-flex align-items-center">
                                <img alt="Transitec" width="95" height="95" class="brand-icon" src="{% static "images/assets/partners/transitec-logo.svg" %}">
                                <div class="university__divider"></div>
                                <div class="university__label">Transitec</div>
                            </div>
                            <h5 class="moocsCard-title">
                                <a href="https://courses.africancitieslab.org/courses/course-v1:urbaplan-transitec+001+2022/about" class="d-block" target="_blank">
                                    Articulation Urbanisme - Mobilité pour une ville soutenable
                                </a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            {% translate "Start date:" %} 13 Nov. 2023
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 col-md-6 moocs-card">
                    <div class="card">
                        <div class="card-header p-0 border-0"> 
                            <a href="https://courses.africancitieslab.org/courses/course-v1:WaterResearchCommission+001+2023/about" class="d-block" target="_blank">
                                <img width="399" height="200" alt="Introduction to New Sanitation Systems, Economies & Markets" src="{% static 'images/assets/moocs/introduction-to-new-sanitation-systems-economies-markets.webp' %}"/>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="moocsCard-university d-flex align-items-center">
                                <img alt="Water Research Commission" width="95" height="95" class="brand-icon" src="{% static "images/assets/partners/wrc-logo.jpeg" %}">
                                <div class="university__divider"></div>
                                <div class="university__label">{% translate "Water Research Commission" %}</div>
                            </div>
                            <h5 class="moocsCard-title">
                                <a href="https://courses.africancitieslab.org/courses/course-v1:WaterResearchCommission+001+2023/about" class="d-block" target="_blank">
                                    {% translate "Introduction to New Sanitation Systems, Economies & Markets" %}
                                </a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            {% translate "Start date:" %} 25 Oct. 2023
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 col-md-6 moocs-card">
                    <div class="card">
                        <div class="card-header p-0 border-0"> 
                            <a href="https://courses.africancitieslab.org/courses/course-v1:UM6P+002+2022/about" class="d-block" target="_blank">
                                <img width="399" height="200" alt="African Urban Economic Development in the Context of Climate Change" src="{% static 'images/assets/moocs/african-urban-economic-development-in-the-context-of-climate-change.webp' %}"/>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="moocsCard-university d-flex align-items-center">
                                <img alt="Université Mohammed VI Polytechnique" width="95" height="95" class="brand-icon" src="{% static "images/assets/partners/UM6P.svg" %}">
                                <div class="university__divider"></div>
                                <div class="university__label">{% translate "UM6P - Université Mohammed VI Polytechnique" %}</div>
                            </div>
                            <h5 class="moocsCard-title">
                                <a href="https://courses.africancitieslab.org/courses/course-v1:UM6P+002+2022/about" class="d-block" target="_blank">
                                    {% translate "African Urban Economic Development in the Context of Climate Change" %}
                                </a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            {% translate "Start date:" %} 18 Oct. 2023
                        </div>
                    </div>
                </div>

		        <div class="col-12 col-lg-4 col-md-6 moocs-card">
                    <div class="card">
                        <div class="card-header p-0 border-0"> 
                            <a href="https://courses.africancitieslab.org/courses/course-v1:Gret+001+2022/about" class="d-block" target="_blank">
                                <img width="399" height="200" alt="La fabrique urbaine collective : idées et outils pour co-produire les villes africaines" src="{% static 'images/assets/moocs/fabrique-urbaine-collective.webp' %}"/>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="moocsCard-university d-flex align-items-center">
                                <img alt="GRET" class="brand-icon" width="95" height="95" src="{% static "images/assets/partners/gret.png" %}">
                                <div class="university__divider"></div>
                                <div class="university__label">GRET</div>
                            </div>
                            <h5 class="moocsCard-title">
                                <a href="https://courses.africancitieslab.org/courses/course-v1:Gret+001+2022/about" class="d-block" target="_blank">
                                    La fabrique urbaine collective : idées et outils pour co-produire les villes africaines
                                </a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            {% translate "Start date:" %} 25 Sep. 2023
                        </div>
                    </div>
                </div>

		        <div class="col-12 col-lg-4 col-md-6 moocs-card">
                    <div class="card">
                        <div class="card-header p-0 border-0"> 
                            <a href="https://courses.africancitieslab.org/courses/course-v1:CAHF+001+2022/about" class="d-block" target="_blank">
                                <img width="399" height="200" alt="Making housing markets work in African cities: understanding the role and opportunity of finance" src="{% static 'images/assets/moocs/making-housing-markets-work-in-african-cities.webp' %}"/>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="moocsCard-university d-flex align-items-center">
                                <img alt="Centre for Affordable Housing Finance in Africa" width="95" height="95" class="brand-icon" src="{% static "images/assets/partners/cahf.png" %}">
                                <div class="university__divider"></div>
                                <div class="university__label">{% translate "Centre for Affordable Housing Finance in Africa" %}</div>
                            </div>
                            <h5 class="moocsCard-title">
                                <a href="https://courses.africancitieslab.org/courses/course-v1:CAHF+001+2022/about" class="d-block" target="_blank">
                                    {% translate "Making housing markets work in African cities: understanding the role and opportunity of finance" %}
                                </a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            {% translate "Start date:" %} 15 Aug. 2023
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-lg-4 col-md-6 moocs-card">
                    <div class="card">
                        <div class="card-header p-0 border-0"> 
                            <!--div class="ribbon-wrapper">
                                <div class="ribbon bg_tertiary">{% translate "COMING SOON" %}</div>
                            </div-->
                            <a href="https://courses.africancitieslab.org/courses/course-v1:UM6P+003+2022/about" class="d-block" target="_blank">
                                <img width="399" height="200" alt="La gestion des données urbaines : clé du développement de villes africaines plus intelligentes" src="{% static 'images/assets/moocs/urban-data-management-for-smart-city-development-in-africa.webp' %}"/>
                            </a>
                            <!--div class="mooc-status">{% translate "COMING SOON" %}</div-->
                        </div>
                        <div class="card-body">
                            <div class="moocsCard-university d-flex align-items-center">
                                <img alt="UM6P - Université Mohammed VI Polytechnique" width="95" height="95" class="brand-icon" src="{% static "images/assets/partners/UM6P.svg" %}">
                                <div class="university__divider"></div>
                                <div class="university__label">{% translate "UM6P - Université Mohammed VI Polytechnique" %}</div>
                            </div>
                            <!--div class="moocsCard-meta py-2">
                                <div class="meta__values">
                                    <i class="fas fa-tags text_primary"></i>
                                    <span class="meta__unit">{% translate "Sanitation" %}</span>
                                </div>
                            </div-->
                            <h5 class="moocsCard-title">
                                <a href="https://courses.africancitieslab.org/courses/course-v1:UM6P+003+2022/about" class="d-block" target="_blank">
                                    {% translate "La gestion des données urbaines : clé du développement de villes africaines plus intelligentes" %}
                                </a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            {% translate "Start date:" %} 17 Jul. 2023
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 col-md-6 moocs-card">
                    <div class="card">
                        <div class="card-header p-0 border-0"> 
                            <a href="https://courses.africancitieslab.org/courses/course-v1:UN-HABITAT+001+2022/about" class="d-block" target="_blank">
                                <img width="399" height="200" alt="Digital Governance for inclusive and sustainable African cities" src="{% static 'images/assets/moocs/digital-governance-for-inclusive-and-sustainable-african-cities.webp' %}"/>
                            </a>
                            <!--div class="mooc-status">{% translate "COMING SOON" %}</div-->
                        </div>
                        <div class="card-body">
                            <div class="moocsCard-university d-flex align-items-center">
                                <img alt="UN-HABITAT" class="brand-icon" width="95" height="95" src="{% static "images/assets/partners/unhabitat.png" %}">
                                <div class="university__divider"></div>
                                <div class="university__label">{% translate "UN-HABITAT" %}</div>
                            </div>
                            <!--div class="moocsCard-meta py-2">
                                <div class="meta__values">
                                    <i class="fas fa-tags text_primary"></i>
                                    <span class="meta__unit">{% translate "Sanitation" %}</span>
                                </div>
                            </div-->
                            <h5 class="moocsCard-title">
                                <a href="https://courses.africancitieslab.org/courses/course-v1:UN-HABITAT+001+2022/about" class="d-block" target="_blank">
                                    {% translate "Digital Governance for inclusive and sustainable African cities" %}
                                </a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            {% translate "Start date:" %} 10 Jul. 2023
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-md-6 moocs-card">
                    <div class="card">
                        <div class="card-header p-0 border-0">
                            <a href="https://courses.africancitieslab.org/courses/course-v1:EPFL+VA_PGU+2022/about" class="d-block" target="_blank">
                                <img width="399" height="200" alt="Villes africaines 2 : Planification et gestion urbaines" src="{% static 'images/assets/moocs/villes-africaines-2-planification-et-gestion-urbaines.webp' %}"/>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="moocsCard-university d-flex align-items-center">
                                <img alt="École Polytechnique Fédérale de Lausanne" width="95" height="95" class="brand-icon" src="{% static "images/assets/partners/epfl.png" %}">
                                <div class="university__divider"></div>
                                <div class="university__label">{% translate "École Polytechnique Fédérale de Lausanne" %}</div>
                            </div>
                            <!--div class="moocsCard-meta py-2">
                                <div class="meta__values">
                                    <i class="fas fa-tags text_primary"></i>
                                    <span class="meta__unit">{% translate "Sanitation" %}</span>
                                </div>
                            </div-->
                            <h5 class="moocsCard-title">
                                <a href="https://courses.africancitieslab.org/courses/course-v1:EPFL+VA_PGU+2022/about" class="d-block" target="_blank">
                                    {% translate "Villes africaines 2 : Planification et gestion urbaines" %}
                                </a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            {% translate "Start date:" %} 1 Jan. 2023
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 col-md-6 moocs-card">
                    <div class="card">
                        <div class="card-header p-0 border-0">
                            <a href="https://courses.africancitieslab.org/courses/course-v1:EPFL+sig1+2022/about" class="d-block" target="_blank">
                                <img width="399" height="200" alt="Systèmes d'Information Géographique - Partie 1" src="{% static 'images/assets/moocs/systeme-dinformation-geographique-partie-1.webp' %}"/>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="moocsCard-university d-flex align-items-center">
                                <img alt="École Polytechnique Fédérale de Lausanne" width="95" height="95" class="brand-icon" src="{% static "images/assets/partners/epfl.png" %}">
                                <div class="university__divider"></div>
                                <div class="university__label">{% translate "École Polytechnique Fédérale de Lausanne" %}</div>
                            </div>
                            <!--div class="moocsCard-meta py-2">
                                <div class="meta__values">
                                    <i class="fas fa-tags text_primary"></i>
                                    <span class="meta__unit">{% translate "Sanitation" %}</span>
                                </div>
                            </div-->
                            <h5 class="moocsCard-title">
                                <a href="https://courses.africancitieslab.org/courses/course-v1:EPFL+sig1+2022/about" class="d-block" target="_blank">
                                    {% translate "Systèmes d'Information Géographique - Partie 1" %}
                                </a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            {% translate "Start date:" %} 1 Jan. 2016
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 col-md-6 moocs-card">
                    <div class="card">
                        <div class="card-header p-0 border-0">
                            <a href="https://courses.africancitieslab.org/courses/course-v1:EPFL+sig2+2022/about" class="d-block" target="_blank">
                                <img width="399" height="200" alt="Systèmes d'Information Géographique - Partie 2" src="{% static 'images/assets/moocs/systeme-dinformation-geographique-partie-2.webp' %}"/>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="moocsCard-university d-flex align-items-center">
                                <img alt="École Polytechnique Fédérale de Lausanne" width="95" height="95" class="brand-icon" src="{% static "images/assets/partners/epfl.png" %}">
                                <div class="university__divider"></div>
                                <div class="university__label">{% translate "École Polytechnique Fédérale de Lausanne" %}</div>
                            </div>
                            <!--div class="moocsCard-meta py-2">
                                <div class="meta__values">
                                    <i class="fas fa-tags text_primary"></i>
                                    <span class="meta__unit">{% translate "Sanitation" %}</span>
                                </div>
                            </div-->
                            <h5 class="moocsCard-title">
                                <a href="https://courses.africancitieslab.org/courses/course-v1:EPFL+sig2+2022/about" class="d-block" target="_blank">
                                    {% translate "Systèmes d'Information Géographique - Partie 2" %}
                                </a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            {% translate "Start date:" %} 1 Jan. 2016
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 col-md-6 moocs-card">
                    <div class="card">
                        <div class="card-header p-0 border-0">
                            <a href="https://courses.africancitieslab.org/courses/course-v1:EPFL+VA_MTU+2022/about" class="d-block" target="_blank">
                                <img width="399" height="200" alt="Villes africaines : Mobilités et transports urbains" src="{% static 'images/assets/moocs/villes-africaines-mobilites-et-transports-urbains.webp' %}"/>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="moocsCard-university d-flex align-items-center">
                                <img alt="École Polytechnique Fédérale de Lausanne" width="95" height="95" class="brand-icon" src="{% static "images/assets/partners/epfl.png" %}">
                                <div class="university__divider"></div>
                                <div class="university__label">{% translate "École Polytechnique Fédérale de Lausanne" %}</div>
                            </div>
                            <!--div class="moocsCard-meta py-2">
                                <div class="meta__values">
                                    <i class="fas fa-tags text_primary"></i>
                                    <span class="meta__unit">{% translate "Sanitation" %}</span>
                                </div>
                            </div-->
                            <h5 class="moocsCard-title">
                                <a href="https://courses.africancitieslab.org/courses/course-v1:EPFL+VA_MTU+2022/about" class="d-block" target="_blank">
                                    {% translate "Villes africaines : Mobilités et transports urbains" %}
                                </a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            {% translate "Start date:" %} 1 Jan. 2015
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 col-md-6 moocs-card">
                    <div class="card">
                        <div class="card-header p-0 border-0">
                            <a href="https://courses.africancitieslab.org/courses/course-v1:EPFL+VA_EDD+2022/about" class="d-block" target="_blank">
                                <img width="399" height="200" alt="Villes africaines : Environnement et enjeux de développement durable" src="{% static 'images/assets/moocs/villes-africaines-environnement-et-enjeux-de-developpement-durable.webp' %}"/>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="moocsCard-university d-flex align-items-center">
                                <img alt="École Polytechnique Fédérale de Lausanne" width="95" height="95" class="brand-icon" src="{% static "images/assets/partners/epfl.png" %}">
                                <div class="university__divider"></div>
                                <div class="university__label">{% translate "École Polytechnique Fédérale de Lausanne" %}</div>
                            </div>
                            <!--div class="moocsCard-meta py-2">
                                <div class="meta__values">
                                    <i class="fas fa-tags text_primary"></i>
                                    <span class="meta__unit">{% translate "Sanitation" %}</span>
                                </div>
                            </div-->
                            <h5 class="moocsCard-title ">
                                <a href="https://courses.africancitieslab.org/courses/course-v1:EPFL+VA_EDD+2022/about" class="d-block" target="_blank">
                                    {% translate "Villes africaines : Environnement et enjeux de développement durable" %}
                                </a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            {% translate "Start date:" %} 1 Jan. 2015
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 col-md-6 moocs-card">
                    <div class="card">
                        <div class="card-header p-0 border-0">
                            <a href="https://courses.africancitieslab.org/courses/course-v1:EPFL+VA_RCP+2022/about" class="d-block" target="_blank">
                                <img width="399" height="200" alt="Villes africaines : Restructuration des quartiers précaires" src="{% static 'images/assets/moocs/villes-africaines-restructuration-des-quartiers-precaires.webp' %}"/>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="moocsCard-university d-flex align-items-center">
                                <img alt="École Polytechnique Fédérale de Lausanne" width="95" height="95" class="brand-icon" src="{% static "images/assets/partners/epfl.png" %}">
                                <div class="university__divider"></div>
                                <div class="university__label">{% translate "École Polytechnique Fédérale de Lausanne" %}</div>
                            </div>
                            <!--div class="moocsCard-meta py-2">
                                <div class="meta__values">
                                    <i class="fas fa-tags text_primary"></i>
                                    <span class="meta__unit">{% translate "Sanitation" %}</span>
                                </div>
                            </div-->
                            <h5 class="moocsCard-title">
                                <a href="https://courses.africancitieslab.org/courses/course-v1:EPFL+VA_RCP+2022/about" class="d-block" target="_blank">
                                    {% translate "Villes africaines : Restructuration des quartiers précaires" %}
                                </a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            {% translate "Start date:" %} 1 Jan. 2015
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 col-md-6 moocs-card">
                    <div class="card">
                        <div class="card-header p-0 border-0">
                            <a href="https://courses.africancitieslab.org/courses/course-v1:EPFL+VA_IPU+2022/about" class="d-block" target="_blank">
                                <img width="399" height="200" alt="Villes africaines : Introduction à la planification urbaine" src="{% static 'images/assets/moocs/villes-africaines-introduction-a-la-planification-urbaine.webp' %}"/>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="moocsCard-university d-flex align-items-center">
                                <img alt="École Polytechnique Fédérale de Lausanne" width="95" height="95" class="brand-icon" src="{% static "images/assets/partners/epfl.png" %}">
                                <div class="university__divider"></div>
                                <div class="university__label">{% translate "École Polytechnique Fédérale de Lausanne" %}</div>
                            </div>
                            <!--div class="moocsCard-meta py-2">
                                <div class="meta__values">
                                    <i class="fas fa-tags text_primary"></i>
                                    <span class="meta__unit">{% translate "Sanitation" %}</span>
                                </div>
                            </div-->
                            <h5 class="moocsCard-title">
                                <a href="https://courses.africancitieslab.org/courses/course-v1:EPFL+VA_IPU+2022/about" class="d-block" target="_blank">
                                    {% translate "Villes africaines : Introduction à la planification urbaine" %}
                                </a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            {% translate "Start date:" %} 1 Jan. 2014
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Start Partners Area-->
    <section class="our-partners">
        {% include "components/partners_section.html" %}
    </section>
    <!-- End Partners Area -->

    <!-- Floating navbar-->
    <div class="floating-navbar">
        <div class="inner__floating-navbar">
                <a class="mx-3 text-white font-weight-500" 
                    target="_blank" 
                    href="https://apps.courses.africancitieslab.org/authn/login">
                        {% translate "Login" %}
                </a>
                <a class="btn btn__primary btn__xxsmall" 
                    target="_blank" 
                    href="https://apps.courses.africancitieslab.org/authn/register">
                        {% translate "Register" %}
                </a>
        </div>
    </div>
    <!-- End Floating Menu -->

{% endblock content %}
