{% extends "base.html" %}

{% load static i18n home_tags wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block meta_tag %}
  {% meta_tags %}
{% endblock meta_tag %}
{% block content %}
  {% image page.banner_image original as img %}
  <section class="page-banner"
           style="background-image: linear-gradient(rgba(84,84,84,0.25) 12%, rgba(0,0,0,.5) 100%), url({{ img.url }})">
    <div class="container-fluid">
      <div class="row py-5">
        <div class="col-12 col-lg-6 col-md-10">
          <div class="position-relative h1">
            {{ page.title }}
            <span class="dash-accent"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="acl-sharpes bottom-right__sharpe">
      <img class="d-none d-lg-block"
           alt="icon"
           width="400"
           height="205"
           src="{% static 'images/assets/outline-sharpe-bottom.svg' %}" />
    </div>
  </section>
  {% if page.localized.get_children %}
    {% comment %}
    <section class="filter-wrapper py-5">
        <div class="container-xl">
            <div class="row justify-content-md-between align-content-center">
                <div class="col-12 col-sm-4 align-self-center">
                    <h2>{% translate "All articles" %}</h2>
                </div>

                    {% if categories %}
                    <div class="col-12 col-sm-3 position-relative">
                        <select id="blog-filter" name="article__category" class="form-control" />
                            <option value="">--- {% translate "Select a category" %} ---</option>
                            {% for category in categories %}
                                <option value="{{category.slug}}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="select-angle">
                            <i class="fas fa-arrow-down"></i>
                        </div>
                    </div>
                    {% endif %}

            </div>
        </div>
    </section>
    {% endcomment %}
    <section class="py-5">
      <div class="container-xl">
        <div class="row ">
          {% for article in page.localized.get_children %}
            <div class="col-12 col-lg-4 col-md-6 article-card">
              <div class="card border-0">
                <div class="card-header article-preview-img p-0">
                  <a href="{% pageurl article %}" class="d-block">{% image article.specific.main_image original %}</a>
                </div>
                <div class="card-body">
                  <div class="article-meta d-flex align-items-center">
                    <div class="article__date">{{ article.specific.date }}</div>
                    <div class="fas fa-circle text_primary mx-2" style="font-size: 5px;"></div>
                    <div class="article__category">
                      {% with categories=article.specific.categories.all %}
                        {% if categories %}
                          <ul class="list-inline mb-0">
                            {% for category in categories %}
                              <li class="post-info__item list-inline-item mr-2">
                                <span class="text_primary font-weight-bold">{{ category.name }}</span>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      {% endwith %}
                    </div>
                  </div>
                  <h5 class="article-title py-3">
                    <a href="{% pageurl article %}" class="d-block text-black">{{ article.title }}</a>
                  </h5>
                  <div class="article-exerpt">{{ article.specific.summary }}</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}
  <!-- Start Partners Area-->
  <section class="our-partners">
    {% include "components/partners_section.html" %}
  </section>
  <!-- End Partners Area -->
{% endblock content %}
