{% extends "home/wagtail_base.html" %}

{% load static i18n wagtailimages_tags %}

{% block content %}
  {% image self.banner_image original as img %}
  <section class="{% if img.url %}page-banner{% else %}page-banner bg_primary{% endif %}"
           {% if img.url %} style='background-image: linear-gradient(rgba(84,84,84,0.25) 12%, rgba(0,0,0,.5) 100%), url({{ img.url }})' {% endif %}>
    <div class="container-fluid">
      <div class="row py-5">
        <div class="col-12 col-lg-6 col-md-10">
          <div class="position-relative h1">
            {{ page.title }}
            {% if img.url %}
              <span class="dash-accent"></span>
            {% else %}
              <span class="dash-accent__"></span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="acl-sharpes {% if img.url %} right-sharpe{% else %} bottom-right__sharpe{% endif %}">
      <img alt="icon"
           class="d-none d-lg-block"
           {% if img.url %} width="195" height="380" src="{% static 'images/assets/outline-sharpe-right.svg' %}" {% else %} width="400" height="205" src="{% static 'images/assets/sharpe-bottom#d29675.svg' %}" {% endif %} />
    </div>
  </section>
  <section class="upcoming-events">
    <div class="container-lg p-md-5">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
          <!-- message if email is sent -->
          {% if messages %}
            {% for message in messages %}
              <div class="my-5 alert alert-success">
                <h5 class="m-0">{{ message }}</h5>
              </div>
            {% endfor %}
          {% endif %}
          <p class="font-size-18 pt-3 pb-5 text-center">
            {% translate "Please fill out the form so that your registration can be validated." %}
          </p>
          <form action="{% url 'ssubscribe-event' %}" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-12 col-md-6 form-group">
                <label>
                  {% translate "Last name" %}
                  <div class="form-asterix">*</div>
                </label>
                <input type="text" name="LNAME" class="form-control" required />
              </div>
              <div class="col-12 col-md-6 form-group">
                <label>
                  {% translate "First name" %}
                  <div class="form-asterix">*</div>
                </label>
                <input type="text" name="FNAME" class="form-control" required />
              </div>
            </div>
            <div class="form-group" required="required">
              <label>
                {% translate "Email Address" %}
                <div class="form-asterix">*</div>
              </label>
              <input type="email" name="EMAIL" class="form-control" required />
            </div>
            <div class="form-group">
              <label>{% translate "Organization Name" %}</label>
              <input type="text" name="INSTITUT" class="form-control" />
            </div>
            <div class="form-group">
              <label>{% translate "Title" %}</label>
              <input type="text" name="TITLE" class="form-control" />
            </div>
            <div class="form-group">
              <label>{% translate "Function" %}</label>
              <input type="text" name="FUNCTION" class="form-control" />
            </div>
            <div class="form-group">
              <label>
                {% translate "Country" %}
                <div class="form-asterix">*</div>
              </label>
              {% get_countries as countries %}
              <select name="COUNTRY" class="form-select" required>
                <option disabled selected>{% translate "Select your country" %}</option>
                {% for country in countries %}<option value="{{ country.name }}">{{ country.name }}</option>{% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label>{% translate "LinkedIn account" %}</label>
              <input type="text" name="LINKEDIN" class="form-control" />
            </div>
            <div class="form-group">
              <input name="site_language" type="hidden" value="{{ LANGUAGE_CODE }}" />
            </div>
            {% with terms_page_url=settings.home.GlobalSettings.terms_and_conditions_page.url policy_url=settings.home.GlobalSettings.data_policy_page.url %}
              {% if terms_page_url and policy_url %}
                <div>
                  {% translate "By submitting your info in the form above, you agree to our" %}
                  <a class="text_primary" href="{{ terms_page_url }}">{% translate "Terms & Condition" %}</a>
                </a> {% translate "and" %} <a class="text_primary" href="{{ policy_url }}">{% translate "Data privacy" %}</a>.
                {% translate "We may use this info to contact you and/or use data from third parties to personalize your experience." %}
              </div>
            {% endif %}
          {% endwith %}
          <div class="mt-5">
            <button type="submit" class="btn btn__primary btn__small">{% translate "Register" %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
