{% extends "home/wagtail_base.html" %}

{% load static i18n home_tags wagtailcore_tags wagtailimages_tags wagtailmetadata_tags wagtailsettings_tags %}

{% block content %}
  {% with blocks=page.body %}
    {% for block in blocks %}
      {% if block.block_type == "hero_block" %}{{ block }}{% endif %}
      {% if block.block_type == "section_block" %}
        {% include_block block %}
      {% endif %}
      {% if block.block_type == "section_picture_block" %}
        {% include_block block %}
      {% endif %}
      {% if block.block_type == "featured_posts_block" %}
        {% include_block block %}
      {% endif %}
    {% endfor %}
  {% endwith %}
{% endblock content %}
