{% extends "base.html" %}
{% load static i18n home_tags wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}
{% block meta_tag %}
  {% meta_tags %}
{% endblock %}

{% block content %}

    {% image page.banner_image original as img %}
    <section class="page-banner" 
        style="background-image: linear-gradient(rgba(84,84,84,0.25) 12%, rgba(0,0,0,.5) 100%), 
            url({{ img.url }});">
        <div class="container-fluid">
            <div class="row py-5">
                <div class="col-12 col-lg-6 col-md-10">
                <div class="position-relative h1">
                    {{ page.title }}
                    <span class="dash-accent"></span>
                </div>
                </div>
            </div>
        </div>
        <div class="acl-sharpes bottom-right__sharpe">
            <img class="d-none d-lg-block" 
                 alt="icon" 
                 width="400" 
                 height="205" 
                 src="{% static 'images/assets/outline-sharpe-bottom.svg' %}"/>
        </div>
    </section>

    {% if page.localized.get_children %}

        <section class="upcoming-events">
            <div class="container-lg py-md-5">
                {% for webinar in page.localized.get_children %}

                    <div class="row event-item">
                
                        <div class="col-md-2 col-lg-1 col-sm-2 col-xs-12">
                            <div class="event-meta__card float-md-end">
                                <div class="date-d">{{ webinar.specific.date.day }}</div> 
                                <div class="date-m">{{ webinar.specific.get_month_published }}</div>
                                <div class="date-y">{{ webinar.specific.date.year }}</div>
                            </div>
                        </div>
                
                        <div class="col-md-8 col-lg-4 col-sm-8 col-xs-12">
                            <div class="event-item__img">
                                <a href="{% pageurl webinar %}">
                                    <div>
                                        {% image webinar.specific.main_image original as img %}
                                        <img width="408" 
                                             height="245" 
                                             alt="{{ img.alt }}" 
                                             src="{{ img.url }}"/>
                                    </div>
                                </a>
                            </div>
                        </div>
                
                        <div class="col-12 col-lg-6">
                            <div class="event-item__inner py-3">
                                <a href="{% pageurl webinar %}" class="h4">
                                    {{ webinar.title }}
                                </a>
                            </div>
                            <p>
                                {{ webinar.specific.summary }}
                            </p>
                            <div class="mt-3">
                                <a class="text_primary font-weight-500" 
                                    href="{% pageurl webinar %}"> 
                                    {% translate "Learn more" %}
                                </a>
                            </div>
                        </div> 
                    </div> 
                {% endfor %}
            </div>
        </section>

    {% endif %}

    <!-- Start Partners Area-->
     <section class="our-partners">
        {% include "components/partners_section.html" %}
    </section>
    <!-- End Partners Area -->

{% endblock content %}