{% load wagtailcore_tags wagtailimages_tags %}

<section class="p-lg-5 position-relative">
  <div class="container-xl">
    <div class="row justify-content-around">
      <div class="col-12 col-md-3 col-lg-4 p-5 p-md-3 order-1 order-md-0">
        {% image value.image original as img %}
        <img class="about-mission__img"
             width="408"
             height="500"
             alt="about-mission"
             src="{{ img.url }}" />
      </div>
      <div class="col-12 col-md-9 col-lg-8 order-0 order-md-1 pt-5 px-lg-5">
        <h2 class="section-title mb-3">{{ value.title }}</h2>
        <h3 class="text_primary">{{ value.subtitle }}</h3>
        <div class="py-3 font-size-16 text-justify">{{ value.paragraph }}</div>
        {% if value.counter %}
          <div class="banner-counter">{% include_block value.counter %}</div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
