{% load i18n %}

<h3 class="section-title pt-3 mb-3">{% translate "Want to stay informed?" %}</h3>
<p class="font-size-18 pb-5">
  {% translate "Leave us your e-mail, so we can send you your new all recent news, updates, and courses when they are published! " %}
</p>
<form action="{% url 'suscribe-newsletter' %}" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-12 col-md-6 form-group">
      <label>
        {% translate "Last name" %}
        <div class="form-asterix">*</div>
      </label>
      <input type="text" name="LNAME" class="form-control" required />
    </div>
    <div class="col-12 col-md-6 form-group">
      <label>
        {% translate "First name" %}
        <div class="form-asterix">*</div>
      </label>
      <input type="text" name="FNAME" class="form-control" required />
    </div>
  </div>
  <div class="form-group" required="required">
    <label>
      {% translate "Email Address" %}
      <div class="form-asterix">*</div>
    </label>
    <input type="email" name="EMAIL" class="form-control" required />
  </div>
  <div class="form-group">
    <input name="site_language" type="hidden" value="{{ LANGUAGE_CODE }}" />
  </div>
  {% with terms_page_url=settings.home.GlobalSettings.terms_and_conditions_page.url policy_url=settings.home.GlobalSettings.data_policy_page.url %}
    {% if terms_page_url and policy_url %}
      <div>
        {% translate "By submitting your info in the form above, you agree to our" %}
        <a class="text_primary" href="{{ terms_page_url }}">{% translate "Terms & Condition" %}</a>
      </a> {% translate "and" %} <a class="text_primary" href="{{ policy_url }}">{% translate "Data privacy" %}</a>.
      {% translate "We may use this info to contact you and/or use data from third parties to personalize your experience." %}
    </div>
  {% endif %}
{% endwith %}
<div class="mt-5">
  <button type="submit" class="btn btn__primary btn__small">{% translate "Suscribe" %}</button>
</div>
</form>
