{% extends "base.html" %}

{% load static i18n home_tags wagtailcore_tags wagtailimages_tags %}

{% block title %}
    404  - African Cities Lab
{% endblock title %}

{% block content %}
    <section class="404-page py-5">
        <div class="container py-3 p-md-5">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-12 col-md-6 col-lg-4">
                    <h2>{% translate "Oops..." %}</h2>
                    <div class="h1 py-3">
                        {% translate "Page not found" %}
                    </div>
                    <p>
                        {% translate "The page you are looking for might have been removed, had its name changed or is temporarily unavailable." %}
                    </p>
                    <div class="my-5">
                        <a href="" class="btn btn__primary btn__big">{% translate "Go to homepage" %}</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 py-5 text-center">
                    <img alt="Page not found" src="{% static 'images/assets/404.png' %}" width="510" height="378">
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
